<div class="container">
  <div class="row">
    <div class="col">
      <form [formGroup]="form">
        <div class="form-group">
          <label for="name">Client Name</label>
          <input type="text" class="form-control" id="name" [formControlName]="'clientName'">

          <label for="erl">Error url</label>
          <input type="text" class="form-control" id="erl" [formControlName]="'errorUrl'">

          <label for="frl">Failed url</label>
          <input type="text" class="form-control" id="frl" [formControlName]="'failedUrl'">

          <label for="srl">Success url</label>
          <input type="text" class="form-control" id="srl" [formControlName]="'successUrl'">
          <br>

          <button *ngIf="edit" type="submit" class="form-control" (click)="onEdit()">Edit</button>

          <br>

          <label for="clientId">Client Id</label>
          <input type="text" class="form-control" id="clientId" [formControlName]="'clientId'" disabled>
          <label for="secret">Secret</label>
          <input type="text" class="form-control" id="secret" [formControlName]="'clientSecret'" disabled>

          <br>

          <button *ngIf="edit" type="submit" class="form-control" (click)="generate()">Generate clientId and secret</button>

        </div>
        <button *ngIf="submit" type="submit" class="form-control" (click)="onSubmit()">Submit</button>

      </form>
    </div>
  </div>

  <div class="row d-flex justify-content-center">

    <h3>{{message}}</h3>

  </div>
</div>
