<div class="container">
  <form [formGroup]="form">
    <div class="form-group">
      <label for="idSender">Id sender</label>
      <input type="text" class="form-control" id="idSender" placeholder="Id sender" [formControlName]="'seedSender'">
      <label for="idReceiver">Id Receiver</label>
      <input type="text" class="form-control" id="idReceiver" placeholder="Id Receiver" [formControlName]="'seedReceiver'">
      <label for="amount">Amount</label>
      <input type="number" class="form-control" id="amount" placeholder="Amount" [formControlName]="'amount'">
    </div>
    <button type="submit" class="form-control" (click)="onSubmit()">Submit</button>
  </form>
</div>
