<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center">Payment</h5>
          <form class="form-signin" [formGroup]="paymentForm" (ngSubmit)="onSubmit()">
            <div class="form-label-group">
              <label for="price">Price</label>
              <input type="text" ngModel id="price" class="form-control" autofocus
                     [formControlName]="'price'" name="price" required/>
            </div>
            <hr class="my-4">
            <button type="submit" class="form-control" (click)="onSubmit()">Pay</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
