
<div class="container">

  <div class="row">

    <div class="col">

      <div class="card">

        <div class="card-header">
          <div class="d-flex">

            <div class="d-flex">
              {{title}}
            </div>

            <div class="ml-auto">
              <select select class="form-control" (change)="onChange($event)">
                <option value="tasks"> Client</option>
                <option value="all"> All</option>
              </select>

            </div>

          </div>
        </div>

        <div class="table-wrapper-scroll-y my-custom-scrollbar">
          <table class="table mb-0 table-hover">
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let paymentType of payments; let i = index">
              <td>{{i + 1}}</td>
              <td>{{paymentType.name}}</td>
              <td>
                <button class="btn" type="button" (click)="addPaymentType(paymentType);"><i
                  class="fas fa-check"></i></button>
              </td>


            </tr>
            </tbody>
          </table>
        </div>


      </div>


    </div>


  </div>

  <div class="row d-flex justify-content-center">

    <h3>{{message}}</h3>

  </div>




</div>
